<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./includes/head'); %>
</head>
<body>
  <%- include('./includes/header'); %>
  <div class="container pt-5 pb-5">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Edit User</li>
      </ol>
    </nav>
      
    <% if (alert != false) { %> 
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <%= alert %> 
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <% } %> 
      
    <% for(var i = 0; i < rows.length; i++) { %>
      <form class="row g-3 needs-validation" method="POST" action="/edituser/<% rows.id %>" novalidate> 
        <%- include('./includes/user-form') %>
      </form>
    <% } %>
  </div>
</body>
</html>

